.cartoon-item {
  width: 120px;
  height: 200px;
  img {
    width: 120px;
    height: 160px;
  }
  .cartoon-info-item{
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
  }
}
