.Cinema_Page_Wrapper {
  .video_info_wrapper {
    background-color: $themeBackgroundColor;
  }
  .cartoon_coverImage {
    width: 2.3rem;
  }
  .liubai {
    width: 100%;
    height: $playerHeight;
  }
}
