.section-list-wrapper {
  width: 640px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  .section-item {
    width: 120px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: justify;
    background-color: #ece6e666;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    padding: 0 10px;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}
